<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtgP2CgPnisQJAp0Fw5JQFoZFJOlNifs0</string>
	<key>GCM_SENDER_ID</key>
	<string>974021695554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magenta.mealbuddy</string>
	<key>PROJECT_ID</key>
	<string>mealbuddy-8590f</string>
	<key>STORAGE_BUCKET</key>
	<string>mealbuddy-8590f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974021695554:ios:42b9c9653db587bf8b75db</string>
</dict>
</plist>